In [1]:
# Import the dependencies

import pandas as pd

import gmaps

import requests

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame

city_data_df = pd.read_csv("../World_Weather_Analysis/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-06-19 02:53:52,-23.1203,-134.9692,74.48,68,100,9.95
1,1,Touros,BR,2022-06-19 02:50:57,-5.1989,-35.4608,75.27,87,12,9.73
2,2,Makat,KZ,2022-06-19 02:53:52,47.6469,53.3463,74.71,41,31,8.46
3,3,Longyearbyen,SJ,2022-06-19 02:53:52,78.2186,15.6401,40.84,75,100,12.66
4,4,Berlevag,NO,2022-06-19 02:53:53,70.8578,29.0864,42.80,87,100,5.75

In [3]:
# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configuer gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [13]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)

fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig1.add_layer(heat_layer)

fig1

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent Cloudiness

locations = city_data_df[["Lat", "Lng"]]

cloud = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent Wind Speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Touros,BR,2022-06-19 02:50:57,-5.1989,-35.4608,75.27,87,12,9.73
5,5,Namatanai,PG,2022-06-19 02:53:53,-3.6667,152.4333,84.54,67,36,3.83
10,10,Chirongui,YT,2022-06-19 02:53:54,-12.9319,45.1483,76.93,72,77,15.70
13,13,Hithadhoo,MV,2022-06-19 02:53:55,-0.6000,73.0833,82.02,70,100,2.21
14,14,Aksha,RU,2022-06-19 02:53:56,50.2814,113.2867,79.11,49,99,9.01
22,22,Atuona,PF,2022-06-19 02:53:58,-9.8000,-139.0333,77.38,77,17,18.88
24,24,Coahuayana,MX,2022-06-19 02:53:58,18.7333,-103.6833,78.35,79,100,1.43
25,25,Bilma,NE,2022-06-19 02:53:59,18.6853,12.9164,85.23,14,0,11.27
29,29,Soeng Sang,TH,2022-06-19 02:53:59,14.4264,102.4606,88.75,56,37,5.73
32,32,Hilo,US,2022-06-19 02:54:00,19.7297,-155.0900,84.27,87,40,4.00

In [20]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Touros      BR     75.27  -5.1989  -35.4608
5    Namatanai      PG     84.54  -3.6667  152.4333
10   Chirongui      YT     76.93 -12.9319   45.1483
13   Hithadhoo      MV     82.02  -0.6000   73.0833
14       Aksha      RU     79.11  50.2814  113.2867
22      Atuona      PF     77.38  -9.8000 -139.0333
24  Coahuayana      MX     78.35  18.7333 -103.6833
25       Bilma      NE     85.23  18.6853   12.9164
29  Soeng Sang      TH     88.75  14.4264  102.4606
32        Hilo      US     84.27  19.7297 -155.0900

In [22]:
# Set parameters to search for a hotel.

params = {
    
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}

In [24]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng             Hotel Name
1      Touros      BR     75.27  -5.1989  -35.4608        INN NEW HORIZON
5   Namatanai      PG     84.54  -3.6667  152.4333  Seagulls Inn Namatani
10  Chirongui      YT     76.93 -12.9319   45.1483     La Villa Mahatsara
13  Hithadhoo      MV     82.02  -0.6000   73.0833      Scoop Guest House
14      Aksha      RU     79.11  50.2814  113.2867                  Vizit

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)



# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>

</dl>
"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))