## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saskylakh,RU,71.9167,114.0833,50.77,47,59,7.11,broken clouds
1,1,Saint-Gaudens,FR,43.0833,0.6667,62.02,84,48,4.16,light rain
2,2,Yellowknife,CA,62.4560,-114.3525,64.92,52,40,3.44,scattered clouds
3,3,General Roca,AR,-39.0333,-67.5833,39.61,64,100,8.41,overcast clouds
4,4,Poplar Bluff,US,36.7570,-90.3929,82.13,79,0,0.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Poplar Bluff,US,36.7570,-90.3929,82.13,79,0,0.00,clear sky
5,5,Kapaa,US,22.0752,-159.3190,82.38,85,40,13.80,scattered clouds
6,6,Kahului,US,20.8947,-156.4700,80.62,69,40,19.57,scattered clouds
7,7,Udachnyy,RU,66.4167,112.4000,82.45,24,48,9.73,scattered clouds
20,20,Mahebourg,MU,-20.4081,57.7000,70.25,77,40,3.44,scattered clouds
22,22,Uarini,BR,-2.9900,-65.1083,71.10,99,98,2.62,overcast clouds
23,23,Hamilton,US,39.1834,-84.5333,76.05,76,0,5.75,clear sky
25,25,Komsomolskiy,UZ,40.4272,71.7189,77.72,38,99,2.30,overcast clouds
26,26,Zhezkazgan,KZ,47.8043,67.7144,80.58,22,0,8.95,clear sky
28,28,Umm Lajj,SA,25.0213,37.2685,81.52,65,0,17.54,clear sky

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.count()

Weather_ID             253
City                   253
Country                253
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()

clean_df.count()

Weather_ID             253
City                   253
Country                253
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Poplar Bluff,US,82.13,clear sky,36.7570,-90.3929,
5,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,
6,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
7,Udachnyy,RU,82.45,scattered clouds,66.4167,112.4000,
20,Mahebourg,MU,70.25,scattered clouds,-20.4081,57.7000,
22,Uarini,BR,71.10,overcast clouds,-2.9900,-65.1083,
23,Hamilton,US,76.05,clear sky,39.1834,-84.5333,
25,Komsomolskiy,UZ,77.72,overcast clouds,40.4272,71.7189,
26,Zhezkazgan,KZ,80.58,clear sky,47.8043,67.7144,
28,Umm Lajj,SA,81.52,clear sky,25.0213,37.2685,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()

clean_hotel_df.count()

City                   253
Country                253
Max Temp               253
Current Description    253
Lat                    253
Lng                    253
Hotel Name             253
dtype: int64

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/Keeron/Documents/Rice University Data Anlyst Bootcamp/Challenges/Challenge 6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Desc.</dt><dd>{Current Description}</dd>

</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))